body {
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;  /* Align children to each side */
}

.left-content {
  flex-grow: 1;  /* Takes up remaining space */
}

.right-content {
  flex-grow: 0;  /* Only takes as much space as needed */
}
